
.dash-container {
    font-family:'Trebuchet MS';
    font-size: small;
    background-color: lightgray;
    order: 1;
    padding: 5px;
    width: 130px;
    height: 300px;
    justify-content: center;
    
    
}

.reviews-container {
    font-family:'Trebuchet MS';
    font-size: small;
    background-color: gray;
    padding: 5px;
    width: 150px;
    height: 180px;
    margin-top: -300px;
    margin-left: 150px;
    justify-content: center;
    
    order: 2;
    
}

.av-rating-container {
    font-family:'Trebuchet MS';
    font-size: small;
    background-color: lightgray;
    order: 3;
    padding: 5px;
    width: 150px;
    height: 180px;
    margin-top: -190px;
    margin-left: 330px;
    justify-content: center;
    
    
}

.sentiment-container {
    font-family:'Trebuchet MS';
    font-size: small;
    background-color: lightgray;
    order: 4;
    padding: 5px;
    width: 150px;
    height: 180px;
    margin-top: -190px;
    margin-left: 510px;
    justify-content: center;
    
}

.visitors-container {

    justify-content:left;
    font-family:'Trebuchet MS';
    font-size: small;
    background-color: lightgray;
    padding: 5px;
    width: 510px;
    height: 180px;
    margin-top: 20px;
    margin-left: 150px;
    justify-content: left;
  
}