/* You can add global styles to this file, and also import other style files */

.bread-container .cake-container .cookie-container {
        display: flex;  
        flex-flow: row wrap;
        font-weight: bold;
        text-align: center; 
        
    
    
}

.cake-container {
        background-color: #fffeb3;
        width: 300px;
        height: 400px;
        margin-left: 130px;
        border: dotted 10px pink;
        justify-content: center;
       
      
    
}

.cookie-container {
    background-color: #fffeb3;

    width: 300px;
    height: 400px;
    margin-left: 520px;
    margin-top: -420px;
    border: dotted 10px pink;
    justify-content: center;
        
        
}

.bread-container {
    background-color: #fffeb3;
    justify-content: center;
    width:300px;
    height: 400px;
    margin-left: 900px;
    margin-top: -420px;
    border: dotted 10px pink;

}

.recipe-container {
    border: black;
}



