body {
    background-color: lavender;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:green;

}
h3 {
    color:salmon;
}
img {
    border: solid 10px orange;
}
ul {
    width:auto;
    margin-top:auto;
}
nav {
    background-color: lightgray;
}